*~
*.aux
*.log
*.bbl
*.blg
*.out
auto/*
*.toc
*.lof
*.lot
*.synctex.gz
*.pdf
*.rip
*.agdai
*.vo
*.glob
_region_.tex
coq/Makefile
coq/Makefile.conf
coq/Base/Makefile
coq/Base/Makefile.conf
coq/.coqdeps.d
coq/Base/.coqdeps.d
coq/src/Makefile
coq/src/Makefile.conf
coq/src/.coqdeps.d
*.vok
*.vos
*.fdb_latexmk
*.fls
\#*\#
paper/auto/*
